<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccountingSystemUI.Properties.Settings.AccountingSystemDbConnectionString"
            connectionString="Data Source=LIAMNGUYEN-PC;Initial Catalog=AccountingSystemDb;User ID=sa;Password=ThanhTruc1208"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>